<div class="list-group">
  <a *ngFor="let rental of rentals"
      routerLink="/location/{{rental.id}}"
       class="{{!rental.overdueDuration ?
        'list-group-item' :
        'list-group-item-danger'}} list-group-item-action flex-column align-items-start">
    <div>
      <div class="d-block">
        Vehicule : {{rental.vehicle.model.make.name}} {{rental.vehicle.model.name}} {{rental.vehicle.color}}
      </div>
      <div class="d-block">
        Date début : {{rental.pickupDate}}
      </div>
      <div class="d-block">
        Durée : {{rental.duration}} jour{{rental.duration != 1 ? 's' : ''}}
      </div>
      <div class="d-block">
        Retard : {{rental.overdueDuration ? rental.overdueDuration : 'non'}}
      </div>
    </div>
  </a>
</div>

