<div class="card">
  <div class="card-body">
    <div class="form-group form-row">
      <div *ngIf="userAdmin"
           class="form-group col-md-3">
        <label for="id">
          Identifiant
        </label>
        <input id="id"
               value="{{customer.id}}"
               class="form-control"
               readonly>
      </div>
      <div class="form-group col-md-3">
        <label for="emailAddress">
          Adresse Email
        </label>
        <input id="emailAddress"
               value="{{customer.emailAddress}}"
               class="form-control"
               readonly>
      </div>
    </div>
    <hr>
    <div class="form-group form-row">
      <div class="form-group col-md-3">
        <label for="lastName">
          Nom de famille
        </label>
        <input id="lastName"
               value="{{customer.lastName}}"
               class="form-control"
               readonly>
      </div>
      <div class="form-group col-md-3">
        <label for="firstName">
          Prénom
        </label>
        <input id="firstName"
               value="{{customer.firstName}}"
               class="form-control"
               readonly>
      </div>
      <div class="form-group col-md-3">
        <label for="birthDate">
          Date de naissance
        </label>
        <input id="birthDate"
               value="{{customer.birthDate | date: 'dd/MM/yyyy'}}"
               class="form-control align-center"
               readonly>
      </div>
    </div>
    <hr>
    <div class="form-group form-row">
      <div class="form-group col-md-3">
        <label for="address">
          Addresse
        </label>
        <input id="address"
               class="form-control"
               [(ngModel)]="detailsUpdate.address"
               required>
      </div>
      <div class="form-group col-md-3">
        <label for="zipCode">
          Code Postal
        </label>
        <input id="zipCode"
               class="form-control"
               [(ngModel)]="detailsUpdate.zipCode"
               required>
      </div>
      <div class="form-group col-md-3">
        <label for="city">
          Ville
        </label>
        <input id="city"
               value="{{detailsUpdate.city}}"
               class="form-control"
               [(ngModel)]="detailsUpdate.city"
               required>
      </div>
      <div class="form-group col-md-1">
        <label for="registrationUpdateBtn">
          &nbsp;
        </label>
        <button id="registrationUpdateBtn"
                class="btn form-control btn-sm"
                ngClass="{{isDetailsCompleted() ? 'btn-primary' : 'btn-secondary'}}"
                [attr.disabled]="!isDetailsCompleted(customer) ? true : null"
                (click)="updateCustomer(0)">
          Modifiez
        </button>
      </div>
    </div>
    <hr>
    <div class="form-group form-row">
      <div class="form-group col-md-3">
        <label for="loyaltyPoints">
          Points de loyauté
        </label>
        <input id="loyaltyPoints"
               value="{{customer.loyaltyPoints}}"
               class="form-control align-right"
               [(ngModel)]="customer.loyaltyPoints"
               readonly>
      </div>
    </div>
    <hr>
    <div *ngIf="!userAdmin"
         class="form-group form-row">
      <div class="form-group col-md-3">
        <label for="passwordUpdateModalBtn">
          Modifiez votre mot-de-passe
        </label>
        <button id="passwordUpdateModalBtn"
                class="btn btn-primary form-control btn-sm col-md-4"
                data-toggle="modal"
                data-target="#passwordUpdateModal">
          Modifiez
        </button>
      </div>
    </div>
    <div *ngIf="userAdmin"
         class="form-group">
      <button class="btn btn-danger"
              data-toggle="modal"
              data-target="#customerDeletionConfirm">
        Supprimer
      </button>
    </div>
  </div>
</div>
<div id="customerDeletionConfirm"
     class="modal fade"
     tabindex="-1"
     role="dialog">
  <div class="modal-dialog"
       role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          Confirmation de suppression
        </h5>
        <button type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close">
          <span aria-hidden="true">
            &times;
          </span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          Veuillez confirmer la suppression.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button"
                class="btn btn-primary"
                data-dismiss="modal"
                (click)="deleteCustomer()">
          Validez
        </button>
        <button type="button"
                class="btn btn-secondary"
                data-dismiss="modal">
          Annulez
        </button>
      </div>
    </div>
  </div>
</div>
<div id="passwordUpdateModal"
     class="modal fade"
     tabindex="-1"
     role="dialog">
  <div class="modal-dialog"
       role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          Mise à jour du mot-de-passe
        </h5>
        <button type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close">
          <span aria-hidden="true">
            &times;
          </span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group form-row">
            <div class="form-group">
              <label for="currentPassword">
                Mot-de-passe actuel
              </label>
              <input id="currentPassword"
                     name="currentPassword"
                     class="form-control"
                     type="password"
                     [(ngModel)]="tokenCreation.password"
                     aria-describedby="passwordHelp0"
                     required>
            </div>
            <div *ngIf="wrongCurrentPassword"
                 class="col-sm-6">
              <small id="passwordHelp0"
                     class="text-danger">
                Le mot-de-passe actuel est incorrect
              </small>
            </div>
          </div>
          <hr>
          <div class="form-group form-row">
            <div class="form-group">
              <label for="newPassword">
                Nouveau mot-de-passe
              </label>
              <input id="newPassword"
                     name="newPassword"
                     class="form-control"
                     type="password"
                     [(ngModel)]="newPassword"
                     required>
            </div>
            <div class="form-group">
              <label for="newPasswordConfirm">
                Confirmez le mot-de-passe
              </label>
              <input id="newPasswordConfirm"
                     name="newPasswordConfirm"
                     class="form-control"
                     type="password"
                     aria-describedby="passwordHelp"
                     [(ngModel)]="newPasswordConfirm"
                     required>
            </div>
            <div *ngIf="!passwordsMatch" class="col-sm-6">
              <small id="passwordHelp" class="text-danger">
                Les mots-de-passe doivent être identiques
              </small>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <small class="text-info font-italic">
          Cette action vous déconnectera.
        </small>
        <button type="button"
                class="btn"
                ngClass="{{passwordCompleted ? 'btn-primary' : 'btn-secondary'}}"
                [attr.disabled]="!passwordCompleted ? true : null"
                (click)="updateCustomer(1)">
          Validez
        </button>
        <button type="button"
                class="btn btn-secondary"
                data-dismiss="modal">
          Annulez
        </button>
      </div>
    </div>
  </div>
</div>
