<div class="card">
  <div class="card-body">
    <form class="form"
          (submit)="createVehicle()">
      <div class="form-group">
        <label class="modelAutoComplete">
          Modèle
        </label>
        <app-model-autocomplete (modelChanged)="modelChanged($event)">
        </app-model-autocomplete>
      </div>
      <div class="form-group">
        <label for="serialNumber">
          Numéro VIN
        </label>
        <div class="form-group">
          <input class="form-control"
                 name="serialNumber"
                 id="serialNumber"
                 minlength="17"
                 maxlength="17"
                 [(ngModel)]="vehicleCreation.serialNumber"
                 required>
        </div>
      </div>
      <div class="form-group">
        <label for="plateNumber">
          Immatriculation
        </label>
        <input class="form-control"
               id="plateNumber"
               name="plateNumber"
               pattern="[A-Z]{2}\d{3}[A-Z]{2}"
               [(ngModel)]="vehicleCreation.plateNumber"
               required>
      </div>
      <div class="form-group">
        <label for="kilometerage">
          Kilométrage
        </label>
        <input class="form-control"
               id="kilometerage"
               name="kilometerage"
               [(ngModel)]="vehicleCreation.numberOfKilometers">
      </div>
      <div class="form-group">
        <label for="purchaseDate">
          Date d'achat
        </label>
        <input class="form-control"
               id="purchaseDate"
               name="purchaseDate"
               type="date"
               max="{{maxDate | date: 'yyyy-MM-dd'}}"
               [(ngModel)]="vehicleCreation.purchaseDate">
      </div>
      <div class="form-group">
        <label for="purchasePrice">
          Prix d'achat
        </label>
        <input class="form-control"
               id="purchasePrice"
               name="purchasePrice"
               [(ngModel)]="vehicleCreation.purchasePrice">
      </div>
      <div class="form-group">
        <label for="rentalPrice">
          Prix de location à la journée
        </label>
        <input class="form-control"
               id="rentalPrice"
               name="rentalPrice"
               [(ngModel)]="vehicleCreation.rentalPrice">
      </div>
      <div class="form-group">
        <label for="loyaltyPoints">
          Points de fidélité à la journée
        </label>
        <input class="form-control"
               id="loyaltyPoints"
               name="loyaltyPoints"
               [(ngModel)]="vehicleCreation.loyaltyPoints">
      </div>
      <div class="form-group">
        <button type="submit"
                class="btn {{
                  completed ?
                    'btn-primary' :
                    'btn-secondary'
                  }}"
                [attr.disabled]="completed ? null : true">
          Validez
        </button>
      </div>
    </form>
  </div>
</div>
