<div class="card">
  <div class="card-body">
    <form class="form"
          (submit)="createMake()">
      <div class="form-group">
        <label for="makeCode">
          Code
        </label>
        <input class="form-control"
               id="makeCode"
               name="makeName"
               maxlength="4"
               [(ngModel)]="makeCreation.code">
      </div>
      <div class="form-group">
        <label for="makeName">
          Nom
        </label>
        <input class="form-control"
               id="makeName"
               name="makeName"
               [(ngModel)]="makeCreation.name">
      </div>
      <div class="form-group">
        <button type="submit"
                class="btn {{
                  completed ?
                    'btn-primary' :
                    'btn-secondary'
                  }}"
                [attr.disabled]="completed ? null : true">
          Validez
        </button>
      </div>
    </form>
  </div>
</div>
