<div class="card">
  <div class="card-body">
    <div class="form-group form-row">
      <div class="form-group col-md-3">
        <label for="modelId">
          Identifiant
        </label>
        <input id="modelId"
               value="{{model.id}}"
               class="form-control"
               readonly>
      </div>
      <div class="form-group col-md-3">
        <label for="make">
          Marque
        </label>
        <input id="make"
               value="{{model.make.name}}"
               class="form-control"
               readonly>
      </div>
      <div class="form-group col-md-3">
        <label for="vehicleType">
          Type de véhicule
        </label>
        <input id="vehicleType"
               value="{{isCar(model) ? 'Voiture' : 'Scooter'}}"
               class="form-control"
               readonly>
      </div>
    </div>
    <div class="form-group form-row">
        <div class="form-group col-md-3">
        <label for="modelCode">
          Code
        </label>
        <input id="modelCode"
               value="{{model.code}}"
               class="form-control"
               readonly>
      </div>
    </div>
    <hr>
    <div class="form-group form-row">
      <div class="form-group col-md-3">
        <label for="modelName">
          Nom
        </label>
        <input id="modelName"
               value="{{model.name}}"
               class="form-control"
               [(ngModel)]="name">
      </div>
      <div class="form-group col-md-1">
        <label for="modelUpdateBtn">
          &nbsp;
        </label>
        <button id="modelUpdateBtn"
                class="btn btn-primary form-control btn-sm"
                (click)="updateModel()">
          Modifiez
        </button>
      </div>
    </div>
    <hr>
    <div class="form-group form-row">
      <div class="form-group col-md-3">
        <button class="btn btn-danger"
                data-toggle="modal"
                data-target="#modelDeletionConfirm">
          Supprimer
        </button>
      </div>
    </div>
  </div>
</div>
<div id="modelDeletionConfirm"
     class="modal fade"
     tabindex="-1"
     role="dialog">
  <div class="modal-dialog"
       role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          Confirmation de suppression
        </h5>
        <button type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close">
          <span aria-hidden="true">
            &times;
          </span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          Veuillez confirmer la suppression.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button"
                class="btn btn-primary"
                data-dismiss="modal"
                (click)="deleteModel()">
          Validez
        </button>
        <button type="button"
                class="btn btn-secondary"
                data-dismiss="modal">
          Annulez
        </button>
      </div>
    </div>
  </div>
</div>
