<div class="card">
  <div class="card-body">
    <div class="form-group form-row">
      <div class="form-group col-md-3">
        <label for="vehicleId">
          Identifiant
        </label>
        <input id="vehicleId"
               value="{{vehicle.id}}"
               class="form-control"
               readonly>
      </div>
      <div class="form-group col-md-3">
        <label for="model">
          Modèle
        </label>
        <input id="model"
               value="{{vehicle.model.make.name}} {{vehicle.model.name}}"
               class="form-control"
               readonly>
      </div>
      <div class="form-group col-md-3">
        <label for="serialNumber">
          Numéro VIN
        </label>
        <input id="serialNumber"
               value="{{vehicle.serialNumber}}"
               class="form-control"
               readonly>
      </div>
    </div>
    <hr>
    <div class="form-group form-row">
      <div class="form-group col-md-3">
        <label for="plateNumber">
          Immatriculation
        </label>
        <input id="plateNumber"
               value="{{vehicle.plateNumber}}"
               pattern="[A-Z]{2}\d{3}[A-Z]{2}"
               class="form-control"
               required>
      </div>
      <div class="form-group">
        <label for="registrationUpdateBtn">
          &nbsp;
        </label>
        <button id="registrationUpdateBtn"
                class="btn btn-primary form-control">
          Modifiez
        </button>
      </div>
    </div>
    <hr>
    <div class="form-group form-row">
      <div class="form-group">
        <label for="color">
          Couleur
        </label>
        <input id="color"
               value="{{vehicle.color}}"
               class="form-control"
               readonly>
      </div>
    </div>
    <hr>
    <div class="form-group form-row">
      <div class="form-group col-md-3">
        <label for="kilometerage">
          Kilométrage
        </label>
        <input id="kilometerage"
               value="{{vehicle.numberOfKilometers}}"
               class="form-control"
               [(ngModel)]="kilometerageUpdate.kilometerage">
      </div>
      <div class="form-group">
        <label for="kilometerageUpdateBtn">
          &nbsp;
        </label>
        <button id="kilometerageUpdateBtn"
                class="btn btn-primary form-control"
                (click)="updateVehicle(0)">
          Modifiez
        </button>
      </div>
    </div>
    <hr>
    <div class="form-group form-row">
      <div class="form-group col-md-2">
        <label for="purchaseDate">
          Date d'achat
        </label>
        <input id="purchaseDate"
               value="{{vehicle.purchaseDate | date: 'dd/MM/yyyy'}}"
               class="form-control align-center"
               readonly>
      </div>
      <div class="form-group col-md-3">
        <label for="purchasePrice">
          Prix d'achat
        </label>
        <div class="input-group">
          <input id="purchasePrice"
                 value="{{vehicle.purchasePrice}}"
                 class="form-control align-right"
                 readonly>
          <div class="input-group-append">
              <span class="input-group-text">
                €
              </span>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="form-group form-row">
      <div class="form-group col-md-3">
        <label for="rentalPrice">
          Prix de location (par jour)
        </label>
        <div class="input-group">
          <input id="rentalPrice"
                 value="{{vehicle.rentalPrice}}"
                 class="form-control align-right"
                 [(ngModel)]="rentalPriceAndLoyaltyPointsUpdate.rentalPrice">
          <div class="input-group-append">
                <span class="input-group-text">
                  €
                </span>
          </div>
        </div>
      </div>
      <div class="form-group col-md-3">
        <label for="loyaltyPoints">
          Points de loyauté (par jour)
        </label>
        <input id="loyaltyPoints"
               value="{{vehicle.loyaltyPoints}}"
               class="form-control align-right"
               [(ngModel)]="rentalPriceAndLoyaltyPointsUpdate.loyaltyPoints">
      </div>
      <div class="form-group">
        <label for="pplpUpdateBtn">
          &nbsp;
        </label>
        <button id="pplpUpdateBtn"
                class="btn btn-primary form-control"
                (click)="updateVehicle(1)">
          Modifiez
        </button>
      </div>
    </div>
    <hr>
    <div class="form-group form-row">
      <div class="form-group col-md-3">
        <button class="btn btn-danger"
                data-toggle="modal"
                data-target="#vehicleDeletionConfirm">
          Supprimer
        </button>
      </div>
    </div>
  </div>
</div>
<div id="vehicleDeletionConfirm"
     class="modal fade"
     tabindex="-1"
     role="dialog">
  <div class="modal-dialog"
       role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          Confirmation de suppression
        </h5>
        <button type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close">
          <span aria-hidden="true">
            &times;
          </span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          Veuillez confirmer la suppression.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button"
                class="btn btn-primary"
                data-dismiss="modal"
                (click)="deleteVehicle()">
          Validez
        </button>
        <button type="button"
                class="btn btn-secondary"
                data-dismiss="modal">
          Annulez
        </button>
      </div>
    </div>
  </div>
</div>
