<div class="card">
  <div class="card-body">
    <form class="form"
          (submit)="createModel()">
      <div class="form-group">
        <label class="makeAutoComplete">
          Marque
        </label>
        <app-make-autocomplete (makeChanged)="makeChanged($event)">
        </app-make-autocomplete>
      </div>
      <div class="form-group">
        <label>
          Type de véhicule
        </label>
        <div class="form-group form-inline">
          <div class="input-group">
            <input type="radio"
                   class="form-control"
                   name="radio"
                   id="carRadio"
                   [(ngModel)]="modelCreation.vehicleType"
                   [value]="VehicleType[VehicleType.CAR]">
            <label for="carRadio">
              Voiture
            </label>
          </div>
          <div class="input-group">
            <input type="radio"
                   class="form-control"
                   name="radio"
                   id="scooterRadio"
                   [(ngModel)]="modelCreation.vehicleType"
                   [value]="VehicleType[VehicleType.SCOOTER]">
            <label for="scooterRadio">
              Scooter
            </label>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="modelCode">
          Code
        </label>
        <input class="form-control"
               id="modelCode"
               name="modelCode"
               maxlength="4"
               [(ngModel)]="modelCreation.code">
      </div>
      <div class="form-group">
        <label for="modelName">
          Nom
        </label>
        <input class="form-control"
               id="modelName"
               name="modelName"
               [(ngModel)]="modelCreation.name">
      </div>
      <div class="form-group">
        <button type="submit"
                class="btn {{
                  completed ?
                    'btn-primary' :
                    'btn-secondary'
                  }}"
                [attr.disabled]="completed ? null : true">
          Validez
        </button>
      </div>
    </form>
  </div>
</div>
