<div class="card">
  <div class="card-body">
    <form (submit)="createRental()"
          class="form">
      <div class="form-group form-inline col-md-3">
        <label for="vehicle">
          Véhicule
        </label>
        <input class="form-control mr-sm-2"
               name="vehicle"
               id="vehicle"
               value="{{vehicle.model.make.name}} {{vehicle.model.name}} {{vehicle.color}}"
               readonly>
      </div>
      <div class="form-group form-inline col-md-3">
        <label for="rentalCreationPickupDate">
          Date de location
        </label>
        <input [(ngModel)]="rentalCreation.pickupDate"
               [min]="minDate | date: 'yyyy-mm-dd'"
               type="date"
               class="form-control mr-sm-2 align-center"
               name="pickupDate"
               id="rentalCreationPickupDate">
      </div>
      <div class="form-group form-inline col-md-3">
        <label for="rentalCreationDuration">
          Nombre de jours de location
        </label>
        <input [(ngModel)]="rentalCreation.duration"
               type="number"
               min="1"
               step="1"
               class="form-control mr-sm-2"
               id="rentalCreationDuration"
               name="rentalCreationDuration">
      </div>
      <div class="form-group form-inline col-md-3">
        <label for="rentalCreationUsingLoyaltyPoints">
          Réglez en points de fidélité&nbsp;
        </label>
        <input [(ngModel)]="rentalCreation.usingLoyaltyPoints"
               type="checkbox"
               class="form-control mr-sm-2"
               id="rentalCreationUsingLoyaltyPoints"
               name="rentalCreationUsingLoyaltyPoints"
               [attr.disabled]="!enoughLoyaltyPoints ? true : null">
      </div>
      <div class="form-group form-inline col-md-3">
        <button type="submit"
                class="btn btn-outline-info my-2 my-sm-0">
          Réservez !
        </button>
      </div>
    </form>
  </div>
</div>
