<div class="fixed-bottom">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
      {{
        isAdmin(user) ?
          user.emailAddress :
          user.firstName + ' ' + user.lastName
      }}
    </a>
    <button class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse"
         id="navbarNav">
      <ul class="navbar-nav">
        <li *ngIf="!isAdmin(user)" class="nav-item active">
          <a class="nav-link" routerLink="/mon-compte">
            Mon compte
            <span class="sr-only">
              (current)
            </span>
          </a>
        </li>
        <li *ngIf="!isAdmin(user)" class="nav-item">
          <a class="nav-link"
             routerLink="/mes-locations">
            Mes locations
          </a>
        </li>
        <li *ngIf="isAdmin(user)"
            class="nav-item dropup">
          <a class="nav-link dropdown-toggle"
             id="makeDropdown"
             role="button"
             data-toggle="dropdown"
             aria-haspopup="true"
             aria-expanded="false">
            Marques
          </a>
          <div class="dropdown-menu"
               aria-labelledby="makeDropdown">
            <a class="dropdown-item"
               routerLink="/marque/liste">
              Liste
            </a>
            <a class="dropdown-item"
               routerLink="/marque/creer">
              Créer
            </a>
          </div>
        </li>
        <li *ngIf="isAdmin(user)"
            class="nav-item dropup">
          <a class="nav-link dropdown-toggle"
             id="modelDropdown"
             role="button"
             data-toggle="dropdown"
             aria-haspopup="true"
             aria-expanded="false">
            Modèles
          </a>
          <div class="dropdown-menu"
               aria-labelledby="modelDropdown">
            <a class="dropdown-item"
               routerLink="/modele/liste">
              Liste
            </a>
            <a class="dropdown-item"
               routerLink="/modele/creer">
              Créer
            </a>
          </div>
        </li>
        <li *ngIf="isAdmin(user)"
            class="nav-item dropup">
          <a class="nav-link dropdown-toggle"
             id="vehicleDropdown"
             role="button"
             data-toggle="dropdown"
             aria-haspopup="true"
             aria-expanded="false">
            Véhicules
          </a>
          <div class="dropdown-menu"
               aria-labelledby="vehicleDropdown">
            <a class="dropdown-item"
               routerLink="/vehicule/liste">
              Liste
            </a>
            <a class="dropdown-item"
               routerLink="/vehicule/creer">
              Créer
            </a>
          </div>
        </li>
        <li *ngIf="isAdmin(user)"
            class="nav-item dropup">
          <a class="nav-link dropdown-toggle"
             id="rentalDropdown"
             role="button"
             data-toggle="dropdown"
             aria-haspopup="true"
             aria-expanded="false">
            Locations
          </a>
          <div class="dropdown-menu"
               aria-labelledby="rentalDropdown">
            <a class="dropdown-item"
               routerLink="/location/liste">
              Liste
            </a>
          </div>
        </li>
        <li *ngIf="isAdmin(user)"
            class="nav-item dropup">
          <a class="nav-link dropdown-toggle"
             id="customerDropdown"
             role="button"
             data-toggle="dropdown"
             aria-haspopup="true"
             aria-expanded="false">
            Clients
          </a>
          <div class="dropdown-menu"
               aria-labelledby="clientDropdown">
            <a class="dropdown-item"
               routerLink="/client/liste">
              Liste
            </a>
          </div>
        </li>
        <li *ngIf="isAdmin(user)"
            class="nav-item dropup">
          <a class="nav-link dropdown-toggle"
             id="adminDropdown"
             role="button"
             data-toggle="dropdown"
             aria-haspopup="true"
             aria-expanded="false">
            Administrateurs
          </a>
          <div class="dropdown-menu"
               aria-labelledby="adminDropdown">
            <a class="dropdown-item"
               routerLink="/admin/liste">
              Liste
            </a>
            <a class="dropdown-item"
               routerLink="/admin/creer">
              Créer
            </a>
          </div>
        </li>
      </ul>
      <div class="navbar navbar-nav ml-auto">
        <button (click)="destroyToken()"
                class="btn btn-outline-danger my-2 my-sm-0">
          Déconnexion
        </button>
      </div>
    </div>
  </nav>
</div>
