<div class="modal fade"
     data-show="true"
     id="exampleModal1"
     role="dialog"
     tabindex="-1"
     aria-labelledby="exampleModalLabel1"
     aria-hidden="true">
  <div class="modal-dialog"
       role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"
            id="exampleModalLabel1">
          Connexion
        </h5>
        <a routerLink="/">
          <button type="button"
                  class="close"
                  data-dismiss="modal"
                  aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </a>
      </div>
      <div class="modal-body">
        <app-login [id]="1" [inline]="false" (tokenCreated)="tokenCreated($event)"></app-login>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
