<form (submit)="createCustomer()"
      class="form">
  <div class="form-group form-inline">
    <input [(ngModel)]="customerCreation.firstName"
           class="form-control mr-sm-2"
           id="firstName"
           name="firstName"
           placeholder="{{'common.fields.firstName' | translate}}">
    <input [(ngModel)]="customerCreation.lastName"
           class="form-control mr-sm-2"
           id="lastName"
           name="lastName"
           placeholder="{{'common.fields.lastName' | translate}}">
  </div>
  <div class="form-group">
    <label for="birthDate"
           [translate]="'common.fields.birthDate'">
    </label>
    <input [(ngModel)]="customerCreation.birthDate"
           type="date"
           class="form-control mr-sm-2"
           id="birthDate"
           name="birthDate">
  </div>
  <div class="form-group">
    <input [(ngModel)]="customerCreation.emailAddress"
           type="email"
           class="form-control mr-sm-2"
           id="emailAddress1"
           name="emailAddress1"
           aria-describedby="emailHelp"
           placeholder="{{'common.fields.emailAddress' | translate}}">
  </div>
  <div class="form-group">
    <input [(ngModel)]="customerCreation.password"
           type="password"
           class="form-control {{!passwordsMatch ? 'is-invalid' : ''}} mr-sm-2"
           id="password1"
           name="password1"
           placeholder="{{'common.fields.password' | translate}}">
    <input [(ngModel)]="passwordConfirm"
           type="password"
           class="form-control {{!passwordsMatch ? 'is-invalid' : ''}} mr-sm-2"
           id="passwordConfirm"
           name="passwordConfirm"
           aria-describedby="passwordHelp"
           placeholder="{{'common.fields.passwordConfirm' | translate}}">
    <div *ngIf="!passwordsMatch"
         class="col-sm-6">
      <small id="passwordHelp"
             class="text-danger"
             [translate]="'notices.passwordsMustMatch'">
      </small>
    </div>
  </div>
  <div class="form-group">
    <input [(ngModel)]="customerCreation.address"
           class="form-control mr-sm-2"
           id="address"
           name="address"
           placeholder="{{'common.fields.address' | translate}}">
  </div>
  <div class="form-group form-inline">
    <input [(ngModel)]="customerCreation.zipCode"
           class="form-control mr-sm-2"
           id="zipCode"
           name="zipCode"
           placeholder="{{'common.fields.zipCode' | translate}}">
    <input [(ngModel)]="customerCreation.city"
           class="form-control mr-sm-2"
           id="city"
           name="city"
           placeholder="{{'common.fields.city' | translate}}">
  </div>
  <button type="submit"
          data-dismiss="modal"
          class="btn {{
            completed ?
              'btn-outline-success' :
              'btn-outline-secondary'
            }} my-2 my-sm-0"
          [attr.disabled]="!completed ? true : null"
          [translate]="'registration.title'">
  </button>
</form>
