<div id="accordion">
  <div *ngFor="let model of models | async"
       class="card">
    <div class="card-header"
         id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link"
                data-toggle="collapse"
                [attr.data-target]="'#model' + model.id"
                aria-expanded="true"
                aria-controls="collapseOne">
          {{model.name}}
        </button>
      </h5>
    </div>
    <div id="model{{model.id}}"
         class="collapse"
         aria-labelledby="headingOne"
         data-parent="#accordion">
      <div class="card-body">
        {{model.vehicleIds.length}}&nbsp;
        {{(model.vehicleIds.length > 1 ? 'common.vehicles' : 'common.vehicle') | translate}}&nbsp;
        {{(model.vehicleIds.length > 1 ? 'common.available.plural' : 'common.available.singular') | translate}}&nbsp;
      </div>
    </div>
  </div>
</div>
