<ul class="list-group">
  <li *ngFor="let model of models"
      class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="col-6 float-left">
      <div class="d-block">
        Id : {{model.id}}
      </div>
      <div class="d-block">
        Code : {{model.code}}
      </div>
      <div class="d-block">
        Nom : {{model.name}}
      </div>
    </div>
    <div class="col-5 float-left">
      <div class="d-block">
        Marque :
        <a routerLink="/marque/{{model.make.id}}">
          {{model.make.name}}
        </a>
      </div>
    </div>
    <div class="col-1 float-right input-group">
      <a class="btn btn-success"
         routerLink="/modele/{{model.id}}">
        Détails
      </a>
      <input class="form-control"
             type="checkbox"
             name="model{{model.id}}Checkbox"
             id="model{{model.id}}Checkbox"
             (change)="onCheck($event, model.id)">
    </div>
  </li>
</ul>
<div *ngIf="selectedIds.length != 0"
     class="fixed-bottom"
     style="height: 110px;">
  <nav aria-label="breadcrumb">
    <button class="btn btn-danger"
            data-toggle="modal"
            data-target="#makeDeletionConfirm">
      Supprimer
    </button>
  </nav>
</div>
<div id="makeDeletionConfirm"
     class="modal fade"
     tabindex="-1"
     role="dialog">
  <div class="modal-dialog"
       role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          Confirmation de suppression
        </h5>
        <button type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close">
          <span aria-hidden="true">
            &times;
          </span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          {{selectedIds.length}} élément(s) sélectionné(s)
        </p>
      </div>
      <div class="modal-footer">
        <button type="button"
                class="btn btn-primary"
                data-dismiss="modal"
                (click)="deleteModels()">
          Validez
        </button>
        <button type="button"
                class="btn btn-secondary"
                data-dismiss="modal">
          Annulez
        </button>
      </div>
    </div>
  </div>
</div>
